.heading{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 3px solid black;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(https://images.unsplash.com/photo-1603793303277-ed67787545e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2FudGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e73a3d;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
}
.christmas{
    background-color: rgba(251, 248, 249, 0.9);
    height: 300px;
    width: 200px;
    border: 3px solid black;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.days,.hours,.minutes,.seconds{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.red{
    font-size: 60px;
    border: none;
    font-family: 'Signika Negative', sans-serif;
    color:red;
}
button{
    margin-left: 50px;
    border: none;
}
.play{
    width: 100px;
    height: 100px;
    background-image: url(https://img.icons8.com/bubbles/344/play.png);
    background-size: contain;
}
.pause{
    width: 100px;
    height: 100px;
    background-image: url(https://img.icons8.com/bubbles/344/pause.png);
    background-size: contain;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
   
  }









@media all and (max-width: 800px){
    h1{font-size: 40px;}
}

@media all and (max-width: 500px){
    h1{font-size: 30px;}
}